.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
}

.popup button {
    height: 30px;
    background-color: #59e9e9;
    border: 1px solid #59e9e9;
    color: #000;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #59e9e9;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid red;
    width: 80%;
    animation-name: animateModal;
    animation-duration: 0.5s;
}


.close-modal-icon {
    cursor: pointer;
    font-size: 24px;
    float: right;
    font-weight: bold;
}

.modal-header {
    padding: 4px 16px;
    background-color: aquamarine;
    color: #000;
}

.modal-body {
    padding: 2px 16px;
    height: 200px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: aquamarine;
    color: #000;
}

@keyframes animateModal{
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}